<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimatedCurveDemo-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F85F9971C4C0C160062A057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F85F9AB1C4C0C1B0062A057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F85F9B61C4C0C1C0062A057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
